# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

openvpn_radauth

Makefile
Makefile.in
.deps
*.m4
autom4te.cache
build-aux
config.*
configure
